.platform-section {
  background-color: #202020;
  color: #fffdf8;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.left-platform {
  border-right: 1px solid #fffdf8;
  padding: 4rem 3rem;
  overflow: hidden;
}
.right-platform {
  padding: 4rem 3rem;
}
.right-platform p {
  margin: 1rem 0;
}
.left-platform h3 {
  font-size: 100px;
}
