.dark-section {
  background-color: #202020;
  color: #fffdf8;
}

.sec-btn:hover {
  background-color: white;
}
.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.left-grid {
  border-right: 1px solid white;
  padding: 4.5rem 3rem 3rem 3rem;
  width: 100%;
  object-fit: contain;
}
.left-grid img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.content-wrapper {
  max-width: 343px;
}
.right-grid {
  padding: 2.5rem;
  width: 100%;
}
.border-around {
  border: 1px solid #fffdf8;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 8px;
  margin: 0.5rem 0 1.5rem 0;
}
