* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 1.4;
}
p {
  line-height: 1.5 !important;
}
body {
  background-color: #fffdf8;
  color: #202020;
}
a {
  text-decoration: none;
}

h1 {
  margin: 0 0 20px;
  font-size: 110px;
  line-height: 1;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-size: 54px;
  line-height: 1;
  font-weight: 800;
  font-family: "Times New Roman", Times, serif;
}
